html, body {
  width: 100%;
  margin: 0; 
  padding: 0; 
  overflow-x: hidden;
}

form { max-width:420px; margin:50px auto; }

h2 { 
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  font-size: 35px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  margin: 0;
  padding: 0px;
  width: 100%;
} 

h4 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  font-size: 25px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  margin: 0;
  padding: 0px;
  width: 100%;
}
h6 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  font-size: 15px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  margin: 0;
  padding: 0px;
  width: 100%;
}

p { 
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px; 
  margin: 0;
  padding: 0px;
  width: 100%;
}

td {
  text-align: center;
  width: 50%;
}

.buttD {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  background-color: #d8e1e3;
  color: #29505b;
  border-radius: 5px;
  border:3px solid #29505b;
  line-height: 22px;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline:0;
  font-weight:500;
  font-size: 18px;
  font-style: normal; 
  font-variant: normal; 
}

.feedback-input {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  background-color: #29505b;
  color: #29505b;
  border-radius: 5px;
  border:3px solid #d8e1e3;
  line-height: 22px;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 20px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  font-weight:500;
  font-size: 18px;
}

.feedback-label {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  background-color: #29505b;
  color: #d8e1e3;
  line-height: 22px;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 20px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  font-weight:500;
  font-size: 18px;
}

.feedback-input:focus { border:2px solid #bc6c29; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
  width: 100%;
  background:#d8e1e3;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color: #29505b;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { color: #d8e1e3; background:#bc6c29; }


.about {
  margin: 0;
  color: #d8e1e3;
  background-color: #29505b;
  text-align: center;
}

.experience {
  margin: 0;
  color: #29505b;
  background-color: #d8e1e3;
  text-align: center;
}

.contact {
  margin: 0;
  color: #d8e1e3;
  background-color: #29505b;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #bc6c29;
  margin: 0;
  padding: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #d8e1e3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d8e1e3;
  color: #bc6c29;
}

.topnav a.active {
  background-color: #29505b;
  color: #d8e1e3;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #bc6c29;
  color: #d8e1e3;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #29505b;
}